<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <div class="jumbotron">
    {% if registered %}
    <h1>Thanks you for registering!</h1>
    {% else %}
    <h1>Register Here</h1>
    <h3>Completa el formulario</h3>
    <form class="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{user_form.as_p}}
      {{profile_form.as_p}}
      <input type="submit" class="btn btn-primary" value="Registrarse">
    </form>
      {% endif %}
  </div>

{% endblock %}
